::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
/*滚动条轨道*/
::-webkit-scrollbar-track{
	background-color: rgba(0, 0, 0, 0.2);
}
/*滚动条滑块*/
::-webkit-scrollbar-thumb{
	background-color:rgba(0, 0, 0, 0.4);
	border-radius: 13px;
}

*{
	padding: 0px;
	border: 0px;
	margin: 0px;
	font-family: "microsoft yahei";
}
body{
	min-width: 310px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.max_width{
	max-width: 1200px;
	margin: 0 auto;
}

/*content_top start*/
.content_top{
	width: 100%;
	height: 240px;
}
.content_top h1{
	color: rgba(61, 169, 247, 1);
    text-align: center;
    line-height: 100px;
    margin-bottom: 0px;
}
.cont_top_item{
	text-align: center;
	margin-bottom: 15px;
}
.icon-download,.icon-officialWeb{
	color: rgba(255,255,255,0.5);
    background-color: rgba(0, 150, 136, 1);
    padding: 10px 7px;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.icon-download:hover,.icon-download:focus{
	color: rgba(255,255,255,0.8);
	background-color: rgba(1, 187, 170, 1);
}
/*content_top end*/

/*content start*/
.qd_download,
.ht_download,
.android_download,
.database_download{
	width: 100%;
	position: relative;
}
.qd_download,
.android_download{
	background-color: rgba(0, 0, 0, 0.1);
}
.lable{
	width: 100px;
    height: 36px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -17px;
    z-index: 1;
    background-color: rgba(254, 221, 85, 1);
    text-align: center;
    color: rgba(229, 77, 38, 1);
    line-height: 36px;
}
.ide .am-u-sm-6{
	margin-top: 0px;
}
.sublime,
.hbuilder,
.eclipse,
.zend_studio,
.jdk,
.tomcat,
.python,
.android,
.android_adt,
.sqldeveloper,
.mysql{
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-position: left 20px;
	position: relative;
}
.sublime{
	background-image: url(../img/sublime.gif);
	background-size: 100% auto;
}
.hbuilder{
	background-image: url(../img/hbuilder.gif);
	background-size: 100% auto;
}
.eclipse{
	background-image: url(../img/eclipse.png);
	background-size: 50% auto !important;
}
.zend_studio{
	background-image: url(../img/zendStudio.png);
	background-size: 100% auto;
}
.jdk{
	background-image: url(../img/jdk.png);
	background-size: 100% auto;
}
.tomcat{
	background-image: url(../img/tomcat.png);
	background-size: 100% auto;
}
.python{
	background-image: url(../img/python.png);
	background-size: 100% auto;
}
.android{
	background-image: url(../img/android.jpg);
	background-size: 100% auto;
}
.android_adt{
	background-image: url(../img/android_adt.png);
	background-size: 100% auto;
}
.sqldeveloper{
	background-image: url(../img/sqldeveloper.png);
	background-size: 100% auto;
}
.mysql{
	background-image: url(../img/mysql.png);
	background-size: 100% auto;
}
.sublime p, 
.hbuilder p, 
.eclipse p, 
.zend_studio p,
.jdk p,
.tomcat p,
.python p,
.android p,
.android_adt p,
.sqldeveloper p,
.mysql p{
	font-size: 0.75em;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 60px;
}
.download_link{
	padding-top: 2em;
}
.official_web, .down_direct{
	padding: 5px;
    background-color: rgba(0, 150, 136, 1);
    color: rgba(255, 255, 255, 0.6);
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.official_web:hover, .down_direct:hover,
.official_web:focus, .down_direct:focus{
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(1, 187, 170, 1);
}
/*content end*/

/*返回顶部 start*/
.go_top{
	width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0,0.1);
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}
.go_top i{
	font-size: 2em !important;
	line-height: 50px;
    color: rgba(229, 77, 38, 1);
}
/*返回顶部 end*/